{% extends 'base.html' %}
{% block content %}
    
    <a href="{% url 'add_customers' %}">Add Customer</a>
    <a href="{% url 'add_vehicle' %}">Add Vehicle</a>
    <a href="{% url 'show_customers' %}">All Customers</a>
    <a href="{% url 'show_vehicles' %}">All Vehicles</a>
    <a href="{% url 'add_rental' %}">Add Rentals</a>



    <ul>
        {% for rental in rentals %}
            <li>{{rental.vehicle.vehicle.name}}</li>
            <li>{{rental.return_date}}</li>
            <li><a href="{% url 'get_data' rental.pk %}">data</a></li>
            <hr>
        {% endfor %}
    </ul>


{% endblock %}
