<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <a href="{% url 'show_customers' %}">All Customers</a>
    <a href="{% url 'show_vehicles' %}">All Vehicles</a>
    <a href="{% url 'rental' %}">All Rentals</a>
    <a href="{% url 'add rental' %}">All Rentals</a>
    {% endblock %}
</body>
</html>