{% extends 'partials/base.html' %}
{% block content %}
<h1>homepage</h1>
<div class="row">
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
    {% for film in object_list %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{film.title}} BY {% for director in  film.director.all %}{{director.first_name}} {{director.last_name}}{% endfor %}</h5>
          <h6 class="card-title">{{film.release_date}}</h6>
          <h6 class="card-title">{% for category in  film.category.all %}{{category.name}}{% endfor %}</h6>
          <h6 class="card-title">{{film.created_in_country}}</h6>
          {% if film.comment %}
          <h6 class="card-title">comment: {{film.comment}}</h6>
          {% endif %}
          {% if film.rating %}
          <h6 class="card-title">rating: {{film.rating}} </h6>
          {% endif %}
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="{% url 'delete_film' film.id %}" class="btn btn-danger">Delete movie</a>
          <a href="{% url 'add_comment' film.id %}" class="btn btn-success">Add Comment</a>
          {% if film.director.exists %}
          <a href="{% url 'delete_director' film.director.first.id %}" class="btn btn-danger">Delete Director</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
</div>

{% endblock %}