<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <h1>Hello</h1>
  
  <ul>
    {% for person in people %}
        <li>id: {{ person.id }}</li>
        <li>name: {{ person.name|capfirst }}</li>
        <li>age: {{ person.age }}</li>
        <li>country: {{ person.country|title }}</li>
    {% endfor %}
  </ul> 

  
    <ul>
    {% for person in people %}
    <li>
        <a href="/people/people/{{ person.id }}">{{person.name}}</a>
    </li>
    {% endfor %}
    </ul> 
    
</body>
</html>