course_notes
daily_challenge/phone_book/book/book/__pycache__
daily_challenge/phone_book/book/db.sqlite3
daily_challenge/phone_book/env
xp/animal-info/animals/info/__pycache__
xp/animal-info/animals/db.sqlite3
xp/animal-info/env
xp/animal-info/animals/animals/__pycache__