{% extends 'base.html' %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<h1>Store</h1>
<div class="container" style="min-width: 90vw;">
    
    <div class="row">
    {% for card in cards %}
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <ul>
                    {% if card.c_type == 'P' %}
                        <h5 class="card-title">Category: People</h5>
                    {% else %}
                        <h5 class="card-title">Category: Vehicles</h5>
                    {% endif %}
                    <p class="card-text">Name: {{card.store_card}}</p>
                    <p class="card-text">Rarity: {{card.store_card.rarity}}</p>
                    <p class="card-text">Id: {{card.store_card.id}}</p>
                    <p class="card-text">Price: {{card.store_card.price}}</p>
                    <p class="card-text">Score Needed: {{card.store_card.min_score_buy}}</p>
                </ul>
    
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{% url 'buy_card' card.id %}" class="btn btn-success">Buy Card</a>
              {% if user.is_superuser %}
              <a href="{% url 'delete_card' card.id %}" class="btn btn-danger">Delete Card</a>
              {% endif %}
            </div>
          </div>
      {% endfor %}
    
    </div>
</div>

{% endblock %}