{% extends 'base.html' %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
    <h1>Trade</h1>
    <h3>Trade Reciever: {{trade_sender}}</h3>
    <h3>Trade Reciever Deck: <small>Remeber to not offer duplicates.</small></h3>
    <ul>
        {% for card in trade_sender.user.profile.deck.all%}
        <li>{{card.name}}</li>
        {% endfor %}
    </ul>
    <form method="POST">
        {% csrf_token %} 
        {{form.as_p}}

        <button class='btn btn-success' type="submit">Save</button>
    </form>
{% endblock %}